.heading {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  margin-top: 20px;
}

section {
  margin-top: 40px;
  padding: 10px 3vw;
}
.caption {
  font-size: 1.7rem;
  font-size: bold;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #ccc;
  padding-top: 0px;
  margin: 10px 4vw;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #ccc;
}

.judge {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.dhead,
.phead {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.dhead,
.defendants {
  border-right: 1px solid #ccc;
}
.defendants,
.prosecutors {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.member {
  width: 7vw;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
  box-shadow: 4px 4px 15px #ccc;
}

.member .member_logo {
  width: 100%;
  border-bottom: 1px solid black;
}
.member .name,
.member .role {
  text-align: center;
}

.member .role {
  font-size: 0.9rem;
  color: #76787f;
}

.dtable{
    display: grid;
    grid-template-columns: 1fr 2fr;   
    margin: 20px 7vw;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 8px #ccc;
}

.dlabel, .dvalue{
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    padding: 10px;
}

.dlabel{
    font-weight: 400;
    background-color: #EDECEB;
}

.hearings ul{
    list-style: none;
    margin-bottom: 20vh;
}

.hearings ul li {
    margin: 10px 10vw;
    border: 1px solid #ccc;
    border-radius:15px;
    box-shadow: 0px 0px 4px #ccc;
}

.hearings ul li .hdetails{
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.hearings ul li .hsummary{
 padding: 10px;
}
