blinker
cachelib
click
colorama
EditorConfig
Flask
Flask-Session
Flask-SQLAlchemy
fuzzywuzzy
greenlet
itsdangerous
Jinja2
json5
Levenshtein
MarkupSafe
numpy
pandas
pathspec
psycopg2
psycopg2-binary
python-dateutil
python-Levenshtein
pytz
PyYAML
rapidfuzz
regex
six
SQLAlchemy
tqdm
typing_extensions
tzdata
Werkzeug
