blinker==1.6.2
cachelib==0.10.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.14.9
EditorConfig==0.12.3
Flask==2.3.3
Flask-Session==0.5.0
Flask-SQLAlchemy==3.1.1
fuzzywuzzy==0.18.0
greenlet==2.0.2
html-tag-names==0.1.2
html-void-elements==0.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
json5==0.9.14
Levenshtein==0.21.1
MarkupSafe==2.1.3
numpy==1.26.0
pandas==2.1.1
pathspec==0.11.2
psycopg2==2.9.7
psycopg2-binary==2.9.7
python-dateutil==2.8.2
python-Levenshtein==0.21.1
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.3.0
regex==2023.8.8
six==1.16.0
SQLAlchemy==2.0.21
tqdm==4.66.1
typing_extensions==4.8.0
tzdata==2023.3
Werkzeug==2.3.7
