html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    top: 0;
    position: sticky;
    background-color: white;
}
.navBar{
    display: flex;
    align-items: baseline;
    border-bottom: 2px solid black;
}
.logo{
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin-right: auto;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: black;
}

.navLinks{
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: larger;
}
.navHead{
    margin-right: 30px;
}
