{% extends "base.html" %} {% block title %} Case Details {% endblock %} {% block
head %} {{ super() }} <link rel="stylesheet" type="text/css" href="{{
url_for("static",filename="css/case_details.css") }}"> {% endblock %} {% block
body%}
<main>
  <div class="heading">{{ case.title }}</div>
  <section class="participants">
    <div class="caption">Courtroom Participants</div>
    <div class="board">
      <div class="judge">
        <div class="member">
          <img
            class="member_logo"
            src="{{ url_for('static',filename='img/judge.png') }}"
            alt="judge"
          />
          <div class="name">{{ case.judge }}</div>
          <div class="role">Judge</div>
        </div>
      </div>
      <div class="dhead">Defendant</div>
      <div class="phead">Prosecution</div>
      <div class="defendants">
        <div class="member">
          <img
            class="member_logo"
            src="{{ url_for('static',filename='img/person.png') }}"
            alt="judge"
          />
          <div class="name">{{ case.accused }}</div>
          <div class="role">Accused</div>
        </div>
        <div class="member">
          <img
            class="member_logo"
            src="{{ url_for('static',filename='img/lawyer.png') }}"
            alt="judge"
          />
          <div class="name">{{ case.defendant_lawyer }}</div>
          <div class="role">Lawyer</div>
        </div>
      </div>
      <div class="prosecutors">
        <div class="member">
          <img
            class="member_logo"
            src="{{ url_for('static',filename='img/person.png') }}"
            alt="judge"
          />
          <div class="name">{{ case.petitioner }}</div>
          <div class="role">Petitioner</div>
        </div>
        <div class="member">
          <img
            class="member_logo"
            src="{{ url_for('static',filename='img/lawyer.png') }}"
            alt="judge"
          />
          <div class="name">{{ case.prosecution_lawyer }}</div>
          <div class="role">lawyer</div>
        </div>
      </div>
    </div>
  </section>
  <section class="Details">
    <div class="caption">Case Details</div>
    <div class="dtable">
      <div class="dlabel">Case description</div>
      <div class="dvalue">{{ case.description }}</div>
      <div class="dlabel">Court</div>
      <div class="dvalue">{{ case.court_name }}</div>
      <div class="dlabel">Filing Date</div>
      <div class="dvalue">{{ case.filing }}</div>
      <div class="dlabel">Date of next trial</div>
      <div class="dvalue">{{ case.next_trail }}</div>
      <div class="dlabel">Status</div>
      <div class="dvalue">{{ case.status }}</div>
    </div>
  </section>

  <section class="hearings">
    <div class="caption">Details of Each Hearing</div>
    <ul>
      {% if hearing %} {% for trail in hearing %}
      <li>
        <div class="hdetails">Hearing on {{ trail.hdate }}</div>
        <div class="hsummary">{{ trail.summary }}</div>
      </li>
      {% endfor %} {% else %}
      <li>
        <h2 class="empty">No Hearings Yet</h2>
      </li>
      {% endif %}
    </ul>
  </section>
</main>
{% endblock %}
