{% extends "base.html" %}
{% block title %}Case List{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static',filename='css/cases_list.css') }}">
{% endblock %}
{% block body %}
    <main>
        <div class="topBar">
            <div class="heading">List of Cases</div>
            <div class="filters">
                <button class="fbtn">filter</button>
            </div>
        </div>
        <ul>
            {% if cases %}
                {{ cases }}
            {% else %}
                <li>
                    <h2>No active cases</h2>
                    <div class="status">Status:Open</div>
                    <div class="opening">Opened on: 30-2-1969</div>
                </li>
            {% endif %}
        </ul>
    </main>
{% endblock %}
