{% extends "base.html" %}
{% block title %}Case List{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static',filename='css/cases_list.css') }}">
{% endblock %}
{% block body %}
    <main>
        <div class="topBar">
            <div class="heading">List of Cases</div>
            <div class="filters">
                <button class="fbtn">filter</button>
            </div>
        </div>
        <ul>
            {% if cases %}
                {% for case in cases %}
                    <li>
                        <a href= "{{ url_for('caseDetails', id=case.id) }}">
                            <h2>{{ case.title }}</h2>
                            <div class="status">Status: {{ case.status }}</div>
                            <div class="opening">Opened on: {{ case.filing }}</div>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    <h2>No active cases</h2>
                </li>
            {% endif %}
        </ul>
    </main>
{% endblock %}
