{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block body %}
    <main>
      <div class="container">
        <div class="content">
          <div class="heading">Empowering Justice,</div>
          <div class="heading">One Click at a Time</div>
          <div class="subText">
            Unlock the power of legal assistance. Our app delivers expert advice
            and resources, making law understandable and accessible whenever you
            need it.
          </div>
          <div class="btns">
            <a href="#"><button class="auth">Login</button></a>
            <a href="#"><button class="auth-outline">Register</button></a>
          </div>
        </div>
        <img src="{{url_for('static',filename='img/balance.png')}}" alt="balance" class="balance" />
      </div>
    </main>
    {% endblock %}
