{% extends "base.html" %}
{% block title %}Expert Assistance{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static',filename='css/expert_talk.css') }}" />
{% endblock %}
{% block body %}
    <main>
        <div class="topBar">
            <div class="heading">Connect with Experts</div>
            <div class="filters">
                <button class="fbtn">filter</button>
            </div>
        </div>
        <section class="cards-container">
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/person.png') }}" alt="logo" />
                </div>
                <div class="details">
                    <div class="name">Neelansh Sharma</div>
                    <div class="id">Id: 8871257</div>
                    <div class="specialization">Specializatin: Criminal</div>
                    <div class="experience">Experience: 6 months</div>
                    <a href="https://www.linkedin.com/in/neelansh-sharma-71742b258/"
                       target="_blank">
                        <button class="connect">Connect</button>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="{{ url_for('static', filename='img/person.png') }}" alt="logo" />
                </div>
                <div class="details">
                    <div class="name">Sanjay Sharma</div>
                    <div class="id">Id: 9871259</div>
                    <div class="specialization">Specializatin: Criminall</div>
                    <div class="experience">Experience: 12 years</div>
                    <a href="https://www.linkedin.com/in/neelansh-sharma-71742b258/"
                       target="_blank">
                        <button class="connect">Connect</button>
                    </a>
                </div>
            </div>
            <div class="card">
                <div class="img-container">
                    <img src="{{url_for( 'static',filename='img/person.png') }}" alt="logo" />
                </div>
                <div class="details">
                    <div class="name">Gopal Srivastav</div>
                    <div class="id">Id: 885342</div>
                    <div class="specialization">Specializatin: Taxation</div>
                    <div class="experience">Experience: 6 months</div>
                    <a href="https://www.linkedin.com/in/neelansh-sharma-71742b258/"
                       target="_blank">
                        <button class="connect">Connect</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
