<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/homepage.css') }}">
    <title>Home</title>
</head>
<body>
    <nav>
        <ul>
            <li class="nonsub"><b>LegalNavigator</b></li>
            <li class="sub">Home</li>
            <li class="sub">option 2</li>
            <li class="sub">option 3</li>
        </ul>
    </nav>
    <div class="heading-div">
        <h1 class="heading-text">WELCOME TO LEGAL-NAVIGATOR</h1>
        <div class="para"><p>Explore Our Services</p></div>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="" alt="" style="width:100%">
                <div class="container">
                    <h1>List of Legal Documents</h1>
                    <p><button>Click For More Information</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="" alt="" style="width:100%">
                <div class="container">
                    <h1>ChatBot</h1>
                    <p><button>Click For More Information</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="" alt="" style="width:100%">
                <div class="container">
                    <h1>Summarize a Legal Text</h1>
                    <p><button>Click For More Information</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="" alt="" style="width:100%">
                <div class="container">
                    <h1>View all Cases</h1>
                    <p><button>Click For More Information</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="" alt="" style="width:100%">
                <div class="container">
                    <h1>Talk with an Expert</h1>
                    <p><button>Click For More Information</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
