<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/signup.css') }}">
    <title>login</title>
</head>

<body>
    <main>
        <div class="back">
            <div class="login-form">
                <h1>signup</h1>
                <form method="post">
                <p>Username</p>
                <input type="text" name="username" placeholder="User Name">
                <!-- <p>email</p> -->
                <!-- <input type="text" name="email" placeholder="email address"> -->
                <p>Password</p>
                <input type="password" name="password" placeholder="Password">
                <p>Retype Password</p>
                <input type="password" name="repass" placeholder="Re-entered Password">
                <button type="submit">Signup</button>
                <a href="{{ url_for('login') }}" class="hyper">already a user ? Click Here to Login</a>
                </form>
            </div>
            
        </div>
    </main>
    <footer>
        <hr>
    </footer>
</body>

</html>
